/* Add CSS rules to override Pico */

/* Color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: var(--pico-color-slate-50);
}

/* Color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: var(--pico-color-slate-950);
  }
}
/* Color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
    --pico-background-color: var(--pico-color-slate-950);
}

body > main {
    padding-block: calc(var(--pico-block-spacing-vertical) * 2);
}

article {
    margin-bottom: calc(var(--pico-spacing) * 1.5);
}

article > img {
    margin-bottom: var(--pico-spacing);
}

article > hgroup {
    margin-bottom: 0;
}

article > hgroup > h2 {
    font-weight: 600;
}

h2:last-child {
    margin-bottom: 0;
}